.todo-results {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 5px 0;
  color: beige;
  margin-bottom: 10px;
  text-shadow: 5px 5px 7px rgba(17, 1, 1, 0.4);
}